.login-card{
    max-width: 400px;
    padding: 30px 30px;
}

#login{
    background: linear-gradient(135deg, lightgreen 0%, mediumpurple 100%);
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
}

#register{
    background: linear-gradient(135deg, mediumpurple 0%, lightgreen 100%);
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
}

.btn-login{
    background-color: mediumspringgreen !important;
    color: indigo !important;
    font-size: 20px !important;
    width: 100% !important;
    border-radius:30px !important;
    transition: 0.5s;
}
.btn-task{
    width: 20% !important;
}
.cardh1{
    font-size: 38px;
}
.availableBudget{

}

.btn-register{
    background-color: mediumspringgreen !important;
    color: indigo !important;
    font-size: 20px !important;
    width: 100% !important;
    border-radius:30px !important;
    transition: 0.5s;
}
.btn-login:hover{
    background-color: indigo !important;
    color: mediumspringgreen !important;
}
.navbar{
    height: 70px;
}

.nav-bg{
    background-color: white;
}
.color-blue{
    color: #150f90;
    font-weight: bold;
}

.hero{
    position: relative;
    background: url('../img/hero-bg-econ.jpg') no-repeat center center;
    background-size: cover;
    text-align:center;
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    font-family: "Fira Sans", sans-serif;
}
.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
.hero .container{
    z-index: 1;
}
.hero h1{
    color:white;

    font-size: 48px;
}
.hero p{
    color:white;
    font-size: 30px;
}

.mt-6{
    margin-top: 100px;
}
.task-card{
    border: 2px solid;
    border-image: linear-gradient(to right, red, blue) 1;
}

#budgetSection{
    display: none;
}
#shopSection{
    display: none;
}
#itemSection{
    display: none;
}
/*#shopSection{*/
/*    display: none;*/
/*}*/
.shop-img{
    width: 75%;

}
.btn-enter{
    background-color: orange;
    color: white;
    width: 80%;
    text-align:center;
    display: block;
    margin: 0 auto;
}
.btn-enter:hover{
    background-color: darkorange;
    color: white;
}

#itemSection h2{

}
.shop-card{
    width: 80%;
    height: 220px;
}
.budget{
    color:white;
    font-size: 22px;
    font-weight: 500;
}

.available-items{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 55px;
}
.font-italic{
    font-style: italic;
}
#shopSection {
    position: relative;
    background-image: url('../img/shoppingmall.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
    padding: 50px;
    overflow: hidden;
}


#shopSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#shopSection > * {
    position: relative;
    z-index: 2;
}

.navbar-brand{
    font-family: "Bebas Neue", sans-serif;
    font-size: 33px;
}
.hero-container{
    background-color: rgba(86, 86, 86,0.6);
    padding: 25px 5px;
    border-radius: 15px;
}
.text-justify{
    text-align: justify;
}
.btn-learnmore{
    background-color: black;
    color:white;
    padding: 10px 20px;
}