{% extends "header.html" %}
{% block index %}
    <head>
        <style>
            img {
             border-radius: 15px;
            }
            .section-title{
                color: darkorange;
                font-weight: bold;
            }
        </style>
    </head>
    <body>


        <section class="hero">
            <div class="container">
                <h1>Welcome to Langer-Econ</h1>
                <p>Enjoy our web applications</p>
            </div>
        </section>

        <section id="about" class="py-5">
            <div class="container">
                <h2 class="section-title">About</h2>
                <div class="row">
                    <div class="col-md-6">
                        <p>Economy Team for Langer Project made web applications for ~~fjoa. </p>
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid" src="../static/img/hero-bg.jpg">
                    </div>
                </div>
            </div>
        </section>


    </body>
{% endblock %}