{% extends "header.html" %}
{% block task %}
    <head>

    </head>
    <body>

<!--    mt : margin top, mb: margin bottom, ms: margin left, me: margin right-->
        <div class="container">
                <div class="card task-card mt-5">
                    <div class="card-header">
                        <h1 class="text-center">Economics Mini-Task</h1>
                    </div>
                    <div class="card-body">

                        <div id="startSection">
                            <h2>Welcome to the Economics Mini-Task!</h2>
                            <p>Click the button below to start the task.</p>
                            <button class="btn btn-primary" onclick="showBudgetSection()">Start!</button>
                        </div>

                        <div id="budgetSection">
                            <h2>Select your budget</h2>
                            <form>
                                <select id="budgetSelect" class="form-control">
                                    <option>100 USD</option>
                                    <option>500 USD</option>
                                    <option>1000 USD</option>
                                </select>
                                <button type="button" class="btn btn-success mt-3" onclick="showShopSection()">Submit</button>
                            </form>
                        </div>

                        <div id="shopSection">
                            <div class="row mb-5">
                                <div class="col-md-12 d-flex justify-content-end align-items-center">
                                    <h4 class="me-4 budget">Available Budget: $<span class="availableBudget"></span></h4>
                                    <button class="btn btn-primary" onclick="showPurchasedItems()">What you bought</button>
                                </div>
                            </div>

                            <form>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card shop-card d-block mx-auto">
                                            <img class="shop-img d-block mx-auto" src="../static/img/shoes.png">
                                            <div class="card-body">
                                                <h5 class="card-title text-center mt-3">Shop 1</h5>
                                                <p class="text-center">Shoes Store</p>
                                                <button type="button" class="btn btn-enter" onclick="showItems('shop1','Shores Store')">Enter</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shop-card d-block mx-auto">
                                            <img class="shop-img d-block mx-auto" src="../static/img/joystick.png">
                                            <div class="card-body">
                                                <h5 class="card-title text-center mt-3">Shop 2</h5>
                                                <p class="text-center">Video Game Store</p>
                                                <button type="button" class="btn btn-enter" onclick="showItems('shop2','Video Game Store')">Enter</button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shop-card d-block mx-auto">
                                            <img class="shop-img d-block mx-auto" src="../static/img/electric-guitar.png">
                                            <div class="card-body">
                                                <h5 class="card-title text-center mt-3">Shop 3</h5>
                                                <p class="text-center">Guitar Store</p>
                                                <button type="button" class="btn btn-enter" onclick="showItems('shop3','Guita Store')">Enter</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="card shop-card d-block mx-auto">
                                            <img class="shop-img d-block mx-auto" src="../static/img/toys.png">
                                            <div class="card-body">
                                                <h5 class="card-title text-center mt-3">Shop 4</h5>
                                                <p class="text-center">Toy Store</p>
                                                <button type="button" class="btn btn-enter" onclick="showItems('shop4','Toy Store')">Enter</button>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-3">
                                        <div class="card shop-card d-block mx-auto">
                                            <img class="shop-img d-block mx-auto" src="../static/img/toys.png">
                                            <div class="card-body">
                                                <h5 class="card-title text-center mt-3">Shop 5</h5>
                                                <p class="text-center">Toy Store</p>
                                                <button type="button" class="btn btn-enter" onclick="showItems('shop5','Random Store')">Enter</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>

                        <div id = 'itemSection'>
                            <div class="row mb-5">
                                <div class="col-md-12 d-flex justify-content-end align-items-center">
                                    <h4 class="me-4 budget">Available Budget: $<span class="availableBudget"></span></h4>
                                    <button class="btn btn-primary" onclick="showPurchasedItems()">What you bought</button>
                                </div>
                            </div>

                            <h2 class="text-center" id="currentShop">Current Store: </h2>
                            <h3>Available Items</h3>
                            <div id="shopItems">

                            </div>
                            <button class="btn btn-primary" onclick="goBackShop()">Back to Shops</button>
                        </div>

                    </div>
                </div>
        </div>

    <div class="modal fade" id ="purchasedItemsModal" tabindex="-1" area-labelledby ="purchasedItemsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Items you Bought</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul id="purchasedItemsList">

                    </ul>
                </div>
            </div>
        </div>
    </div>


    <script>

        budget = 0;
        availableBudget = 0;
        purchasedItems = []; // list to keep track of purchased items

        // Function to show the budget selection when user clicks 'Start!'
        function showBudgetSection(){
            document.getElementById('startSection').style.display = 'none';
            document.getElementById('budgetSection').style.display = 'block';
        }

        // Function to Update all availableBudget elements
        function updateAvailableBudget(){
            budgetElements = document.querySelectorAll('.availableBudget'); // [<h1 class="availableBudte"></h1>, <span class="availableBudte"></span> ]
            budgetElements.forEach(function(element){
                element.innerText = availableBudget;
            });
        }


        function showShopSection(){
            selectedBudget = document.getElementById('budgetSelect').value; // 500 USD
            budget = parseInt(selectedBudget);
            availableBudget = budget;

            updateAvailableBudget();
            document.getElementById('budgetSection').style.display = 'none';
            document.getElementById('shopSection').style.display = 'block';
        }

        function showItems(shopId, shopName){
            document.getElementById('shopSection').style.display = 'none';
            document.getElementById('itemSection').style.display = 'block';

            document.getElementById('currentShop').innerText = shopName;

            var items = {
                'shop1': [{name:"Running Shoes", price: 25, quantity: 1}, {name: "Sneakers", price: 15, quantity: 1}, {name: "Boots", price: 45, quantity: 1}],
                'shop2': [{name: "NBA 2k25", price: 55, quantity: 1}, {name: "Mario", price: 45, quantity: 1}, {name: "Zelda", price: 65, quantity: 1}],
                'shop3': [{name: "Electric Guitar", price: 85, quantity: 1}, {name: "Acoustic Guitar", price: 95, quantity: 1},{name: "Guitar Pick", price: 105, quantity: 1}],
                'shop4': [{name: "Teddy Bear", price: 25, quantity: 1}, {name: "Toy Car", price: 25, quantity: 1},{name: "Puzzle", price: 15, quantity: 1},{name: "Robot", price: 25, quantity: 1}],
                'shop5': [""]
            };

            itemsContainer = document.getElementById('shopItems');
            itemsContainer.innerText = '';

            items[shopId].forEach(function(item){
                var itemElement = document.createElement('div'); // this code creates <div> </div>
                var itemName = document.createElement('span'); // this code create <span> </span>
                itemName.innerText = `${item.name} - $${item.price}, quantity: ${item.quantity}` ; // <span>Sneakers - $ 25</span>

                var buyButton = document.createElement('button'); // <button></button>
                buyButton.classList.add('btn', 'btn-success'); // <button class="btn btn-success"> </button>
                buyButton.innerText = "Buy"; // <button class="btn btn-success"> Buy </button>

                // Functionalites for buy buttons
                buyButton.addEventListener('click', function(){
                    if(availableBudget >= item.price && item.quantity > 0){ // only when user has enough budget AND item quantity is larger than 0.
                        availableBudget = availableBudget - item.price; // availableBudge -= item.price Deduct price from budge
                        item.quantity -= 1; // Decrease item quantity
                        itemName.innerText = `${item.name} - $${item.price}, quantity: ${item.quantity}`; // re-render the item with updated quantity

                        if (item.quantity === 0){
                            buyButton.disabled = true;
                            buyButton.innerText = "Out of Stock";
                        }

                        updateAvailableBudget();

                        purchasedItems.push({name: item.name, price: item.price}); // adding the purchased item to the list purchasedItems.
                        alert(`You bought ${item.name} for $${item.price}!`);
                    }else{ // when user does not have sufficient budget
                        alert("Insufficient budget or item is out of stock!");
                    }
                });


                itemElement.appendChild(itemName); // <div><span>Sneakers</span></div>
                itemElement.appendChild(buyButton); // <div><span>Sneakers</span><button class="btn btn-success"> Buy </button></div>

                itemsContainer.appendChild(itemElement);

            });
        }

        function goBackShop(){
            document.getElementById('itemSection').style.display = 'none';
            document.getElementById('shopSection').style.display = 'block';
        }

        // Function to show purchased items in the modal
        function showPurchasedItems(){
            var purchasedItemsList = document.getElementById('purchasedItemsList');
            purchasedItemsList.innerHTML = '';

            // user bought at least one item
            if (purchasedItems.length > 0){
                purchasedItems.forEach(function(item){
                    var li = document.createElement('li');
                    li.innerText = `${item.name} - $${item.price}`;
                    purchasedItemsList.appendChild(li);
                });
            }else{ // user bought nothing
                purchasedItemsList.innerHTML = "<p>No items purchased yet.</p>"
            }

            // show the modal
            var purchasedItemsModal = new bootstrap.Modal(document.getElementById('purchasedItemsModal'));
            purchasedItemsModal.show();
        }
    </script>
    </body>

{% endblock %}